{
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^[.]",
    "@/atoms/(.*)$",
    "@/molecules(.*)$",
    "@/lib/(.*)$",
    "@/hooks/(.*)$"
  ],
  "proseWrap": "always"
}
