{
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react$",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^[.]",
    "<TYPES>",
    "@/convex/(.*)$",
    "@/context/(.*)$",
    "@/lib/(.*)$",
    "@/utils/(.*)$",
    "@/hooks/(.*)$",
    "@/features/(.*)$",
    "@/atoms/(.*)$",
    "@/molecules(.*)$",
    "@/(.*)$"
  ],
  "proseWrap": "always"
}
